body {
  background: url("../assests/images/BerryBushImg3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  border: 0;
}

.d-flex1{
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-around;
}


body > * {
  font-family: 'Aladin', cursive;
}

.headcontainer {
  display: flex;
  gap: 10px;
  background: radial-gradient(#176B87, #64CCC5, #279EFF, #C70A80);
  width: 100%;
  height: 75px;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  }

.headlink{
  border: 2px solid #2d2b2c;
  
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
}




   


